/* Dashboard Main Content Offset */
@media (min-width: 768px) {
    .main-content {
        margin-left: 250px;
    }
}

/* Collapsible sidebar styles */
.sidebar {
    transition: width .15s ease;
}

body.sidebar-collapsed .sidebar {
    width: 80px !important;
}

body.sidebar-collapsed .sidebar .label {
    display: none;
}

body.sidebar-collapsed .sidebar .nav-link {
    text-align: center;
}

@media (min-width: 768px) {
    body.sidebar-collapsed .main-content {
        margin-left: 80px;
    }
}